.homepic{
    height: 500px;
    width: 1500px;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.homie{
    margin-top: 65px;
    display: flex;
    justify-content: center;
    align-content: center;
    
}